.settings-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.settings-menu {
  display: none;
  position: absolute;
  right: -400px;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #efefef;
  transition: right 0.3s ease;

  /* Settings-Icon Size + Settings-Icon Position + A bit of extra Margin */
  padding-top: calc(3rem + 8px + 5px); 
  padding-left: 35px;
}

.settings-menu.open {
  display: flex;
  flex-direction: column;
  right: 0;
}

.settings-menu > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-top: 7px;
}

.settings-menu > div > span {
  width: 280px;
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}

