.settings-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.settings-menu {
  display: flex;
  flex-direction: column;

  opacity: 0;
  transform: translateX(400px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #efefef;

  padding-left: 35px;
  padding-top: 1rem;
}

.settings-menu.open {
  opacity: 1;
  transform: translateX(0);
}

.settings-menu.close {
  opacity: 0;
  transform: translateX(400px);
}

.settings-menu > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-top: 7px;
}

.settings-menu-title {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.settings-menu > div > span {
  width: 348px;
  max-width: 348px;
  overflow: hidden;
  text-overflow: ellipsis;
}

