.settings-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.settings-menu {
  display: flex;
  flex-direction: column;

  opacity: 0;
  transform: translateX(400px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #efefef;

  padding-left: 35px;
  padding-top: 1rem;
}

.settings-menu.open {
  opacity: 1;
  transform: translateX(0);
}

.settings-menu.close {
  opacity: 0;
  transform: translateX(400px);
}

.settings-menu > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-top: 7px;
}

.settings-menu-title {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.settings-menu > div > span {
  width: 348px;
  max-width: 348px;
  overflow: hidden;
  text-overflow: ellipsis;
}



.settings-menu-endpoint {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 90%;
  
  position: relative;
  left: 50%; /* Mueve el elemento a la mitad del contenedor */
  transform: translateX(-50%); /* Mueve el elemento hacia la izquierda */
}

.settings-menu-endpoint > input {
  width: 60%;
  height: 30px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
  padding-left: 10px;
}

.settings-menu-endpoint > button {
  width: 40%;
  height: 30px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;

}

.settings-menu-endpoint > input,
.settings-menu-endpoint > button {
  box-sizing: border-box;
}

.settings-menu-endpoint:focus-within {
  box-shadow: 0 0 2px 2px #1EC7FF;
}

.settings-menu-endpoint > input:focus,
 .settings-menu-endpoint > button:focus {
  outline: none;
  border: none;
}
